
#viz {float: left}
svg {
  font: 10px sans-serif;
  width: 800px; height: 600px;
}

#add_info, #add_info_range, #info {
    border-radius: 6px;
    border: 2px solid gray;
    width: 200px;
    height: 400px;
    float: left;
    display: none;
}

.padding {
    padding: 6px;
}

input[type='text'], textarea {padding: 6px}

circle {
  -webkit-transition: fill-opacity 250ms linear;
}

.selecting circle {
  fill-opacity: .2;
}

.selecting circle.selected {
  stroke: #f00;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.menu_items {font-family: Courier; font-size: 30px}
.highlighted_menu_item {fill: yellow}


